
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load custom_censu %}


{% block title %}
<h1 align="center">Все новости: {{ post|length }}</h1>
{% endblock title %}

{% block content %}
   <h5 align="center">{{ time_now|date:'d m y' }}</h5>
   <table align="center">
       <tr>
           <td>Краткое описаниe</td>
           <td>Дата публикации</td>
       </tr>
       {% for new in post %}
    <tr>
        <td><strong>{{ new.text|truncatechars:20|censor }}</strong></td>
        <td>{{ new.post_time }}</td>
    </tr>
       {% endfor %}
   </table>
{% endblock content %}